.offers{
    position: absolute;
width: 1120px;
height: 652px;
left: 165px;
top: 7800px;

}

.leftOffer{
    position: absolute;
    width: 450px;
    height: 602px;
    background: #CCCEA7;
    padding-left: 100px;
    padding-top: 50px;
}
.rightOffer{
    position: absolute;
    width: 430px;
    height: 602px;
    left: 600px;
    background: #D6BEBE;
    padding-left: 100px;
    padding-top: 50px;
}

.rightOffer img{
    cursor: pointer;
}
.leftOffer img{
cursor: pointer;
}